

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  
    <div class="row" id="pwd-container">    
        <div class="col-md-4"></div>

        <div style="margin-top: 15%;" class="col-md-4">
            <section class="login-form">
                <form method="post" action="Login">
                    <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
                    <input name="username" placeholder="Username" required class="form-control input-lg" />

                    <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password" required="" />


                    <div class="pwstrength_viewport_progress"></div>

                    
                    <text>@ViewBag.message</text>
                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>


                </form>

            </section>  
        </div>
      
        <div class="col-md-4"></div>
      

    </div>
  
  
</div>